.creditsSection {
  white-space: initial !important;
  word-wrap: break-word !important;
    position: relative;
    font-size:2vw !important;
    z-index: 2;
    background: linear-gradient(to right, #002b32, #2e0032);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    color: white;
    padding-top: 200px !important;;
    padding-bottom: 30px !important;
    transform: translateY(-3.5em);
  }

  @media (max-width: 800px) {
    .creditsSection {
      font-size:4vw !important;
    }
  }
  

  .creditsSection.p {
    max-width: 80% !important;
    }
.btn-group button{
  color: white;
  margin: 6px;
  padding: 8px;
  
  background-color: rgb(50, 0, 90);
  border: 2px solid #878787; 
  transition-duration: 0.4s;
}
.btn-group button:hover {
  opacity: 0.7;
  background-color: #001c5d; /* Green */
  color: white;
}

  .oma{
    margin-left: 200px !important;
    margin-right: 200px !important;
  }
  @media (max-width: 767px) {
  
    .oma{
      margin-left: 50px !important;
      margin-right: 50px !important;
    
    }
  }
  
  @media (max-width: 1200px) {
  
    .oma{
      margin-left: 50px !important;
      margin-right: 50px !important;
    
    }
  }
  