@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');


.lines {
  $color: #59c1fe;
  height: 4em;
  background: linear-gradient(rgba($color, 0.2) 20%, $color 40%, $color 60%, rgba($color, 0.2) 80%);
  background-size: 1px 0.5em;
  box-shadow: 0 0 1em rgba($color, 0.4);
  transform: translateY(7em);
  left: 0;
}

@media (max-width: 900px) {
  .h2 {
    font-size: 3.4rem !important;
  }
}
.h2 {
  font-family: 'Mr Dafoe';
  font-size: 4.5em;
  margin-top: 0.6em;
  color: white;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
  transform: rotate(-7deg);
  padding-bottom: 100px;
}