.koodariSection {
    
    position: relative;
    z-index: 10;
    background-image: var(--image-gradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    padding-top: 150px !important;
  }
  .kuvaK{
    
    padding-top: 150px !important;
    width:60vw;
    height: auto;
  }