
.myAvtar {
    justify-content: center !important;
    padding-top: 9em !important;
   
  }
  
  @media (max-width: 767px) {
    .myAvtar {
      padding-top: 2em !important;
      padding-bottom: 2em !important;
    }
  }
  
  .homeAboutSection {
    position: relative;
    background-image: linear-gradient(
      to bottom left,
      rgba(241, 171, 255, 0.678),
      rgba(29, 29, 29, 0.863)
    ), url(home-bg2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    padding-bottom: 70px !important;
    padding-top: 70px !important;
  }
  
  .homeAboutDescription {
    color: white !important;
    padding-top: 100px !important;
    padding-bottom: 20px !important;
    text-align: center;
  }
  
  .homeAboutBody {
    padding-top: 50px;
    font-size: 1.2em !important;
    text-align: left;
  }
  
  .aboutActivity {
    list-style: none !important;
    text-align: left !important;
    padding-left: 2px !important;
  }
  