

.card {
    --card-gradient: rgba(0, 0, 0, 0.8);
    --card-gradient: #5e9ad9, #e271ad;
    --card-blend-mode: overlay;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    padding-bottom: 1rem;
    background-image: linear-gradient(
      var(--card-gradient),
      white max(9.5rem, 27vh)
    );
}
@media (max-width: 667px) {
  .card {
    width: 90%;
  }}

.card:hover {
  --card-gradient: rgba(0, 0, 0, 0.8);
  --card-gradient: #e271ad, #5e9ad9;
  --card-blend-mode: overlay;
  background-color: #fff;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  background-image: linear-gradient(
    var(--card-gradient),
    white max(9.5rem, 27vh)
  );
}

    .img2 {
      border-radius: 0.5rem 0.5rem 0 0;
      width: 100%;
      object-fit: cover;
      max-height: max(10rem, 30vh);
      aspect-ratio: 4/3;
      mix-blend-mode: var(--card-blend-mode);
      }
    
  .card h3 {
    margin-top: 1rem;
    font-size: 1.25rem;
  
  text-decoration: underline;
  }
  
  
  .cardWrapper {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
  
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-gap: 1.5rem;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  

  @media (max-width: 667px) {
    .cardWrapper {
      grid-template-columns: repeat(auto-fit);
    }
  
  }
