.koodattuT{
  background: linear-gradient(to right, #00c6e9, #7a0085);
 color: black;
 font-size: 8vw; 
 font-weight: bold;
 margin: 0 auto;
 padding: 10px;
 width: 50%;
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 mix-blend-mode: screen;
}

.oma{
  transform: translateY(-3em);
  
  font-weight: bold;
  -webkit-text-stroke: 1px rgb(0, 43, 46); /* width and color */

  color: rgb(170, 242, 255);
  box-shadow: 0 0 10px #ed9ed3;
  
}

.imageContainer {
  background-image:  url(../Assets/home-bg.jpg);
  background-size: cover;
  position: relative;
  height: 500px;
}
¨


.bgSection {
  
    padding-top: 150px !important;
    padding-bottom: 30px !important;
   
    
    background-image: var(--section-background-color), url(../Assets/home-bg.jpg);
    opacity: 0.5;

}