
/* --------- ***************************************************************************************/
/* Kirjoitus Section  */
/* --------- ****************************************************************************************/


.Typewriter__wrapper {
    font-size: 2.2em !important;
    color: #bdbdbd !important;
    font-weight: 600 !important;
    
    padding-bottom: 30px !important;
  }
  .Typewriter__cursor {
    font-size: 2.4em !important;
    color: #8e00c6 !important;
  }
  
  @media (max-width: 767px) {
    .Typewriter__wrapper {
      font-size: 1.4em !important;
    }

  }
  